<a href="https://colab.research.google.com/github/limas0209/DF-titanic_and_Tutorial-Pandas/blob/main/Titanic_DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot

In [7]:
titanic_df = pd.read_csv("titanic.csv")

In [8]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
titanic_df.sample(20)

#Nome: Henrique Lima | RM: 551528

<hr>

###1 - Quantos passageiros embarcaram a bordo do titanic em Southampton ? - <b>644 passageiros</b>
###2 - Quantos passageiroes sobreviveram ao titanic ? - <b>342 sobreviventes</b>  
###3 - Quantas pessoas abaixo dos 10 anos de idade estavem a bordo do titanic ? - <b>62 pessoas abaixo dos 10 anos de idade estavam no titanic</b>
###4 - Quantas pessoas acima dos 50 anos estavam a bordo do titanic ? - <b>Estavam a bordo 64 pessoas acima dos 50 anos de idade no titanic</b>
###5 - Haviam quantos homens no titanic ? - <b>577 homens</b>
###6 - Haviam quantas mulheres no titanic ? - <b>314 mulheres
###7 - Quantos homens sobreviveram ? - <b>109 homens sobreviveram</b>
###8 - Quantas mulheres sobreviveram ? - <b>233 mulheres sobreviveram</b>
###9 - Quantas pessoas estavam de primeira classe ? - <b>216 pessoas estavam de primeira classe</b>
###10 - Quantas pessoas estavam de terceira classe ? - <b>491 pessoas estavam de terceira classe</b>

In [68]:
#Questão 1

local = titanic_df["Embarked"] == "S"

quantidade_local = local.sum()

print(f"{quantidade_local} pegaram o titanic no porto de Southampton !")

644 pegaram o titanic no porto de Southampton !

In [25]:
#Questão 2
sobreviventes = titanic_df["Survived"] == 1
quantidade_sobreviventes =  sobreviventes.sum()

print("O número de sobreviventes no titanic foi de: ", quantidade_sobreviventes)

O número de sobreviventes no titanic foi de:  342

In [28]:
#Questão 3
idade = titanic_df["Age"] < 10

quantidade_idade = idade.sum()

print("A quantidade de pessoas abaixo dos 10 anos de idade foi de: ", quantidade_idade)

A quantidade de pessoas abaixo dos 10 anos de idade foi de:  62

In [60]:
#Questão 4
idade = titanic_df["Age"] > 50

quantidade_idade = idade.sum()

print("A quantidade de pessoas acima de 50 anos de idade foi de: ", quantidade_idade)

A quantidade de pessoas acima de 50 anos de idade foi de:  64

In [39]:
#Questão 5
sex = titanic_df["Sex"] == "male"

quantidade_sex = sex.sum()

print("A quantidade de homens a bordo do titanic era de:", quantidade_sex)

A quantidade de homens a bordo do titanic era de: 577

In [51]:
#Questão 6
sex = titanic_df["Sex"] == "female"

quantidade_sex = sex.sum()

print("A quantidade de mulheres a bordo do titanic era de:", quantidade_sex)

A quantidade de mulheres a bordo do titanic era de: 314

In [54]:
#Questão 7
sobreviventes = titanic_df[(titanic_df["Sex"] == "male") & (titanic_df["Survived"] == 1)]

quantidade_h = sobreviventes["Survived"].sum()

print("A quantidade de homens que sobreviveram no titanic foi de", quantidade_h)

A quantidade de homens que sobreviveram no titanic foi de 109

In [55]:
#Questão 8
sobreviventes = titanic_df[(titanic_df["Sex"] == "female") & (titanic_df["Survived"] == 1)]

quantidade_h = sobreviventes["Survived"].sum()

print("A quantidade de mulheres que sobreviveram no titanic foi de", quantidade_h)

A quantidade de mulheres que sobreviveram no titanic foi de 233

In [59]:
#Questão 9
classe = titanic_df["Pclass"] == 1

quantidade = classe.sum()

print(f"{quantidade} pessoas estavam de primeira classe")

216 pessoas estavam de primeira classe

In [58]:
#Questão 10
classe = titanic_df["Pclass"] == 3

quantidade = classe.sum()

print(f"{quantidade} pessoas estavam de terceira classe")

491 pessoas estavam de terceira classe